@tailwind base;
@tailwind components;
@tailwind utilities;

.flip {
  transform: rotateY(180deg);
}

input:checked + label .show-when-checked {
  @apply opacity-100;
}

input:checked + .checked-bg-fawn,
input:checked + label .checked-bg-fawn {
  @apply bg-fawn;
}

.spinner {
  @apply inline-flex items-center w-6 h-6 animate-spin;
}